body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0d3c;
}

.font-link {
  font-family: "Manrope", sans-serif;
  font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: #0f0d3c;
  color: white;
  justify-content: center;
  align-items: center;
}

.heading-text {
  color: #f39422;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  margin: 30px;
}

.square {
  min-width: 200px;
  min-height: 200px;
  font-size: 64px;
  text-align: center;
  color: #0dcaf0;
  font-weight: bolder;
  padding: 30px;
}

.fc-aqua {
  color: #0dcaf0;
}

.fw-600 {
  font-weight: bolder;
}

.rows {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-Center {
  justify-content: center;
}

.b-bottom-right {
  border-right: 15px solid #537ec5;
  border-bottom: 15px solid #537ec5;
}

.b-bottom {
  border-bottom: 15px solid #537ec5;
}

.b-right {
  border-right: 15px solid #537ec5;
}

#resetButton,
#submitButton {
  width: max-content;
  margin: 25px auto 10px auto;
  border-radius: 0.25rem;
  font-weight: bolder;
}
#submitButton {
  background-color: #8ab3f6;
  border-color: #8ab3f6;
  color: black;
}

#enterNames {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  font-size: 19px;
  color: white;
}
@media only screen and (max-width: 600px) {
  .heading-text {
    color: #f39422;
    font-size: 23px;
    font-weight: bolder;
    text-align: center;
    margin: 30px;
  }

  .square {
    min-width: 170px;
    min-height: 170px;
    font-size: 32px;
    font-weight: bolder;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .b-bottom-right {
    border-right: 10px solid #537ec5;
    border-bottom: 10px solid #537ec5;
  }

  .b-bottom {
    border-bottom: 10px solid #537ec5;
  }

  .b-right {
    border-right: 10px solid #537ec5;
  }

  #resetButton,
  #submitButton {
    width: max-content;
    margin: 40px auto 10px auto;
    border-radius: 0.25rem;
    font-weight: bolder;
  }
  #submitButton {
    background-color: #8ab3f6;
    border-color: #8ab3f6;
    color: black;
  }
}
